{% include 'head.twig' %}
{% include 'header.twig' %}
{% include 'blog-content.twig' %}
<div class="search-container-blog">
	{% include 'search.twig' %}
</div>
{% include 'footer.twig' %}
</body>
</html>
