<div class="categories-container">
	<div class="wrapper">
		<div class="categories">
			<div class="categories-item">
				<a href="#" title="Засоби гігієни" class="hygiene">Засоби гігієни</a>
				
			</div><!--
			--><div class="categories-item active">
				<a href="#" title="Одяг" class="clothes">Одяг</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Взуття" class="shoes">Взуття</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Валізи та сумки" class="bags">Валізи та сумки</a>
			</div>
		</div>
		<div class="sub-categories" id="hygiene">
			<div class="sub-categories-item"><span>Для жінок#2</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Піджаки">Піджаки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Плаття">Плаття</a></li>
					<li><a href="#" title="Спідниці">Спідниці</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item">
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Брюки">Брюки</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Блузи">Блузи</a></li>
					<li><a href="#" title="Білиза">Білиза</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item"><span>Для чоловіків</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Сорочки">Сорочки</a></li>
					<li><a href="#" title="Краватки">Краватки</a></li>
					<li><a href="#" title="Светри">Светри</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>

			</div><!--
			--><div class="sub-categories-item"><span>Для Дітей</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Шкільна форма">Шкільна форма</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Блузи/Сорочки">Блузи/Сорочки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
					<li><a href="#" title="Для немовлят">Для немовлят</a></li>
				</ul>
			</div>
		</div>
		<div class="sub-categories active" id="clothes">
			<div class="sub-categories-item"><span>Для жінок</span>
				<ul class="sub-categories-lv1">
					<li class="active"><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Піджаки">Піджаки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Плаття">Плаття</a></li>
					<li><a href="#" title="Спідниці">Спідниці</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item">
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Брюки">Брюки</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Блузи">Блузи</a></li>
					<li><a href="#" title="Білиза">Білиза</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item"><span>Для чоловіків</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Сорочки">Сорочки</a></li>
					<li><a href="#" title="Краватки">Краватки</a></li>
					<li><a href="#" title="Светри">Светри</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>

			</div><!--
			--><div class="sub-categories-item"><span>Для Дітей</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Шкільна форма">Шкільна форма</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Блузи/Сорочки">Блузи/Сорочки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
					<li><a href="#" title="Для немовлят">Для немовлят</a></li>
				</ul>
			</div>
		</div>
		<div class="sub-categories" id="shoes">
			<div class="sub-categories-item"><span>Для жінок#2</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Піджаки">Піджаки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Плаття">Плаття</a></li>
					<li><a href="#" title="Спідниці">Спідниці</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item">
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Брюки">Брюки</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Блузи">Блузи</a></li>
					<li><a href="#" title="Білиза">Білиза</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item"><span>Для чоловіків</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Сорочки">Сорочки</a></li>
					<li><a href="#" title="Краватки">Краватки</a></li>
					<li><a href="#" title="Светри">Светри</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>

			</div><!--
			--><div class="sub-categories-item"><span>Для Дітей</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Шкільна форма">Шкільна форма</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Блузи/Сорочки">Блузи/Сорочки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
					<li><a href="#" title="Для немовлят">Для немовлят</a></li>
				</ul>
			</div>
		</div>
		<div class="sub-categories" id="bags">
			<div class="sub-categories-item"><span>Для жінок#2</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Піджаки">Піджаки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Плаття">Плаття</a></li>
					<li><a href="#" title="Спідниці">Спідниці</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item">
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Брюки">Брюки</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Блузи">Блузи</a></li>
					<li><a href="#" title="Білиза">Білиза</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>
			</div><!--
			--><div class="sub-categories-item"><span>Для чоловіків</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Костюми">Костюми</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Сорочки">Сорочки</a></li>
					<li><a href="#" title="Краватки">Краватки</a></li>
					<li><a href="#" title="Светри">Светри</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
				</ul>

			</div><!--
			--><div class="sub-categories-item"><span>Для Дітей</span>
				<ul class="sub-categories-lv1">
					<li><a href="#" title="Шкільна форма">Шкільна форма</a>
						<ul class="sub-categories-lv2">
							<li><a href="#" title="Калина">Калина</a></li>
							<li><a href="#" title="Alve">Alve</a></li>
							<li><a href="#" title="BGL">BGL</a></li>
							<li><a href="#" title="Cat Orange">Cat Orange</a></li>
							<li><a href="#" title="Frizman">Frizman</a></li>
						</ul>
					</li>
					<li><a href="#" title="Брюки">Брюки</a></li>
					<li><a href="#" title="Блузи/Сорочки">Блузи/Сорочки</a></li>
					<li><a href="#" title="Светри і гольфи">Светри і гольфи</a></li>
					<li><a href="#" title="Футболки">Футболки</a></li>
					<li><a href="#" title="Білизна">Білизна</a></li>
					<li><a href="#" title="Спортивний одяг">Спортивний одяг</a></li>
					<li><a href="#" title="Для немовлят">Для немовлят</a></li>
				</ul>
			</div>
		</div>
		<div class="categories">
			<div class="categories-item">
				<a href="#" title="Посуд" class="dashes">Посуд</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Декоративна косметика" class="cosmetics">Декоративна косметика</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Товари для дітей" class="children-goods">Товари для дітей</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Продукти харчування" class="food">Продукти харчування</a>
			</div>
		</div>
		<div class="categories">
			<div class="categories-item">
				<a href="#" title="Алкогольні напої" class="alcohol">Алкогольні напої</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Прикраси" class="ornamentation">Прикраси</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Ювелірні вироби" class="jewelry">Ювелірні вироби</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Різне" class="variables">Різне</a>
			</div>
		</div>
	</div>
</div>
