{% include 'head.twig' %}
{% include 'header.twig' %}
<div class="container-main">
    {% include 'slider.twig' %}
    {% include 'search.twig' %}
</div>
<div class="wrapper info">
    <p>Наразі купувати українські продукти та речі не тільки вигідно, а є вже правилом гарного тону.
Українські виробники виробляють майже все: від колготок до танків, від іграшок до спортивного інвентарю.
	</p>
	<p>На сайті зібрано повний каталог українських виробників.
    </p>
</div>
    {% include 'categories-active.twig' %}
    {% include 'katalog.twig' %}
    {% include 'reviews.twig' %}
    <p class="UA-brand-head">Найпопулярніші українські виробники</p>
    {% include 'footer.twig' %}
</body>
</html>