{% include 'head.twig' %}
{% include 'header.twig' %}
{% include 'slider-medium.twig' %}
<div class="search-container-product">
	{% include 'search.twig' %}
</div>
{% include 'product-page.twig' %}
{% include 'katalog.twig' %}
{% include 'categories.twig' %}
{% include 'reviews.twig' %}
<p class="UA-brand-head">НАйпопулярніші українські виробники</p>
{% include 'footer.twig' %}
</body>
</html>
