<section class="slider-container">
	<div class="wrapper">
		<div class="slider-reviews" id="slider-reviews">
			<div class="slider-reviews-content">
				<div class="slider-reviews-content-item">
					<div class="clearfix">
						<div class="review-foto"><img src="img/reviews_1.jpg" alt="Юлія Савостіна">
						</div>
						<div class="review-info">
							<h1>У пошуках MADE IN UKRAINE</h1> 
							<h3>Юлія Савостіна</h3>
							<p>У лютому 2013 року пообіцяла, що буде рік купувати тільки товари українського виробництва і розповідати про всі знахідки читачам <a href="#" title="Мiй блог">свого блогу</a>. Пообіцяла і зробила. Продовжує агітувати за все якісне і модне українське тепер не тільки в блозі, але і в якості керівника окремого напрямку <span>Made in Ukraine в Ekonomika Communication Hub.</span>
							</p>
							<a href="#" title="Читати детальніше" class="more-info">Читати детальніше</a>
						</div>
					</div>
				</div>
				<div class="slider-reviews-content-item">
					<div class="clearfix">
						<div class="review-foto"><img src="img/reviews_1.jpg" alt="Юлія Савостіна">
						</div>
						<div class="review-info">
							<h1>У пошуках MADE IN UKRAINE</h1> 
							<h3>Юлія Савостіна</h3>
							<p>У лютому 2013 року пообіцяла, що буде рік купувати тільки товари українського виробництва і розповідати про всі знахідки читачам <a href="#" title="Мiй блог">свого блогу</a>. Пообіцяла і зробила. Продовжує агітувати за все якісне і модне українське тепер не тільки в блозі, але і в якості керівника окремого напрямку <i>Made in Ukraine в Ekonomika Communication Hub.</i>
							</p>
							<a href="#" title="Читати детальніше">Читати детальніше</a>
						</div>
					</div>
				</div>
				<div class="slider-reviews-content-item">
					<div class="clearfix">
						<div class="review-foto"><img src="img/reviews_1.jpg" alt="Юлія Савостіна">
						</div>
						<div class="review-info">
							<h1>У пошуках MADE IN UKRAINE</h1> 
							<h3>Юлія Савостіна</h3>
							<p>У лютому 2013 року пообіцяла, що буде рік купувати тільки товари українського виробництва і розповідати про всі знахідки читачам <a href="#" title="Мiй блог">свого блогу</a>. Пообіцяла і зробила. Продовжує агітувати за все якісне і модне українське тепер не тільки в блозі, але і в якості керівника окремого напрямку <i>Made in Ukraine в Ekonomika Communication Hub.</i>
							</p>
							<a href="#" title="Читати детальніше">Читати детальніше</a>
						</div>
					</div>
				</div>
			</div>
		
			<div class="slider-reviews-nav">
				<ul class="switchers">
					<li><a href="#" title="slide-nav" class="active"> </a></li><!--
					--><li><a href="#" title="slide-nav"> </a></li><!--
					--><li><a href="#" title="slide-nav"> </a></li>
				</ul>
				<a href="#" title="move-to-left" class="move-to-left"> </a>
				<a href="#" title="move-to-right" class="move-to-right"> </a>
			</div>
		</div>
	</div>
</section>
