<div class="search-block">
	<div class="search-block-container">
		<div class="search-head">
			Повний каталог українських виробників
		</div>
		<form action="index.php" method="post">
			<input type="text" name="search" placeholder="Назва товару"><!--
			--><input type="submit" name="search-buton" value=" ">
		</form>
	</div>
</div>
