<div class="slider" id="slider-image">
	<div class="slider-content">
		<div class="slider-content-item">
			<img src="img/slider.jpg" alt="slide-first">
		</div>
	</div>
	<div class="slider-nav">
		<ul class="switchers">
			<li><a href="#" title="slide-nav" class="active"> </a></li><!--
			--><li><a href="#" title="slide-nav"> </a></li><!--
			--><li><a href="#" title="slide-nav"> </a></li>
		</ul>
	</div>
</div>
