<div class="categories-container">
	<div class="wrapper">
		<div class="categories">
			<div class="categories-item">
				<a href="#" title="Засоби гігієни" class="hygiene">Засоби гігієни</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Одяг" class="clothes">Одяг</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Взуття" class="shoes">Взуття</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Валізи та сумки" class="bags">Валізи та сумки</a>
			</div>
		</div>
		<div class="categories">
			<div class="categories-item">
				<a href="#" title="Посуд" class="dashes">Посуд</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Декоративна косметика" class="cosmetics">Декоративна косметика</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Товари для дітей" class="children-goods">Товари для дітей</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Продукти харчування" class="food">Продукти харчування</a>
			</div>
		</div>
		<div class="categories">
			<div class="categories-item">
				<a href="#" title="Алкогольні напої" class="alcohol">Алкогольні напої</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Прикраси" class="ornamentation">Прикраси</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Ювелірні вироби" class="jewelry">Ювелірні вироби</a>
			</div><!--
			--><div class="categories-item">
				<a href="#" title="Різне" class="variables">Різне</a>
			</div>
		</div>
	</div>
</div>