//= template/head.html
//= template/header.html
//= template/slider-medium.html
<div class="search-container-product">
	//= template/search.html
</div>
//= template/product-page.html
//= template/katalog.html
//= template/categories.html
//= template/reviews.html
<p class="UA-brand-head">НАйпопулярніші українські виробники</p>
//= template/footer.html
</body>
</html>