<div class="slider-medium" id="slider-medium-image">
	<div class="slider-medium-content">
		<div class="slider-medium-content-item">
			<img src="img/slider_2.jpg" alt="slide-first">
		</div>
	</div>
	<div class="slider-nav">
		<ul class="switchers">
			<li><a href="#" title="slide-nav" id="first-slide" class="active"> </a></li><!--
			--><li><a href="#" title="slide-nav" id="second-slide"> </a></li><!--
			--><li><a href="#" title="slide-nav" id="third-slide"> </a></li>
		</ul>
	</div>
</div>